<?xml version="1.0" encoding="UTF-8"?> 
<web-app> 

<servlet>  
 <!-- 当前servlet的名称 -->  
 <servlet-name>HelloServlet</servlet-name>  
  <!-- servlet所在的包名跟类名 -->  
 <servlet-class>com.helloservlet.hello.HelloWorldServlet</servlet-class>  
 </servlet>  
 <servlet-mapping>  
 <!-- 必须于上一个servlet标签中的名称保持一致 -->  
 <servlet-name>HelloServlet</servlet-name>  
 <!-- 这是你在浏览器上访问的地址,必须要提 /servlet/xxxx 格式，不然tomcat启动会报错-->  
 <url-pattern>/servlet/helloWorld</url-pattern>  
 </servlet-mapping>  

<welcome-file-list> 
	
    <welcome-file>index.jsp</welcome-file> 
  </welcome-file-list> 
</web-app>